/* 
    Author     : Ary Raditya
*/

html{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html, body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    position: relative;
    font-family: Arial, 'Open Sans', sans-serif;
    color: #656d78;
    min-height: 100%;
}

body {
    font-size: 13px;
    overflow-x: hidden;
}

a {
    color: #009688;
    text-decoration: none;
}

label.error{
    color:red;
    margin-top:5px;
}

a:hover,
a:focus,
a:active{
    color: #4CAF50;
    text-decoration: none;
}

section{
    padding: 10px;
    margin-bottom: 10px;
}
section .section-header{
    color: #666;
    font-size: 1.05em;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-mobile {
    max-width: 480px;
    display: block;
    margin: auto;
    position: relative;
}
.container-mobile.footer-fixed{
    padding-bottom: 58px;
}
.container-mobile.header-fixed{
    padding-top: 60px;
}


/**
* HEADER 
*/
.brand-header{
    border-right: 0;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.brand-header img{
    float: left;
    max-height: 60px;
    padding: 10px 10px 10px 0;
}
.brand-header h1{
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-form{
    z-index: 12;
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 480px;
    height: 58px;
}
.search-form .form-control{
    height: 58px;
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    padding-right: 40px;
}
.search-form .search-dismiss{
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 15px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.upper-head__notif{
    position: absolute;
    font-size: 10px;
    top: 0;
    margin-top: 12px;
    border-radius: 2px;
    right: 3px;
    padding: 2px 2px;
    background: #F44336;
    display: inline-block;
    color: #fff;
}



/**
*
**/
.row {
    margin-left: 0;
    margin-right: 0;
}
.no-pd {
    padding: 0px !important;
    margin: 0px !important;
}


/**
*   Footer
**/
.tab-fixed-button {
    height: 58px !important;
    background-color: #5f6f81 ;
    text-align: center !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    padding-top: 15px !important;
    font-size: 13px !important;
    z-index: 5;
    color: #fff;
    zoom: 1;
}
.tab-fixed-button .category-menu {
    color: #fff;
    height: 58px;
    padding: 8px 0;
    top: -10px;
    cursor: pointer;
    text-align: center;
}
.tab-fixed-button .category-menu > i{
    font-size: 19px;
}
.tab-fixed-button .category-menu.active {
    color: #fff;
    height: 58px;
    padding: 8px 0;
    top: -15px;
    cursor: pointer;
    text-align: center;
}
.tab-fixed-button .category-menu:hover .text-menu, 
.tab-fixed-button .category-menu.active .text-menu {
    bottom: 0px;
    position: relative;
    font-size: 14px;
}
.tab-fixed-button.button{
    background: #f8f8f8;
}
.tab-fixed-button.button .btn {
    padding: 13px 15px;
    border-radius: 0;
}

/* MODAL */
/*======================================*/
.modal {
    text-align: center;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    margin-left: -5px;
    vertical-align: middle;
}
.modal .modal-dialog{
    max-width: 480px;
}
.modal.fade:not(.animated) .modal-dialog {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-transition: all .5s linear .5s;
    transition: all .5s linear .5s;
}
.modal.fade.in:not(.animated) .modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.bootbox.modal.in:not(.fade) {
    opacity: 1;
    transition: opacity, 0.5s;
}
.bootbox.modal:not(.fade) {
    opacity: 0;
    -webkit-transition: opacity .5s linear .5s;
    transition: opacity .5s linear .5s;
}
.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: -1%;
    min-width: 90%;
}
.modal-dialog.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}
.modal-header {
    padding: 15px;
    position: relative;
    border: 0;
}
.modal-header:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.modal-footer {
    background-color: transparent;
    color: #758697;
    border-color: rgba(0, 0, 0, 0.07);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-title {
    font-size: 1.2em;
    color: #2b425b;
}
.modal-body {
    min-height: 90px;
}
.modal-body > .close,
.modal-header > .close {
    top: 50%;
    margin-top: -0.5em;
    right: 10px;
    left: auto;
    position: absolute;
    background-color: transparent !important;
}
.modal-body > .close {
    top: 10px;
    margin-top: 0 !important;
}
.modal-content {
    box-shadow: none;
    border-radius: 0;
}
.modal-footer {
    padding: 10px 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.modal-backdrop.in {
    opacity: 0.45;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}
@media (min-width: 480px) {
    .modal-dialog {
        min-width: 420px;
    }
}

/* ACCORDION */
/*======================================*/
.panel > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}
.panel-group {
    margin-bottom: 35px;
}
.panel-group.accordion .panel {
    margin-bottom: 0;
}
.panel-group.accordion .panel-heading {
    border-radius: 0;
    height: auto;
}
.panel-group.accordion .panel-heading:after {
    border: 0 !important;
}
.panel-group.accordion .panel-heading,
.panel-group.accordion .panel-title {
    padding: 0;
}
.panel-group.accordion .panel-title {
    line-height: 40px;
}
.panel-group.accordion .panel-title a {
    display: block;
    color: inherit;
    text-transform: none;
    font-size: 13px;
    padding: 0 15px;
}
.panel-group.accordion .panel-title a:hover,
.panel-group.accordion .panel-title a:focus {
    color: inherit;
}
.panel-group.accordion .panel:first-child,
.panel-group.accordion .panel:first-child .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-group.accordion .panel:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}


/* PANELS */
/*======================================*/
.panel {
    border-radius: 0;
    border: 1px solid #e7ecf3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    margin-bottom: 15px;
}
.panel hr {
    border-color: rgba(0, 0, 0, 0.1);
}
.panel .panel-bg-cover {
    max-height: 180px;
    overflow: hidden;
}
.panel .panel-bg-cover img {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}
.panel.remove {
    opacity: 0;
    transition: opacity, 0.5s;
}
.panel .alert {
    border-radius: 0;
}
.panel.panel-bg-img {
    position: relative;
}
.panel .panel-bg-wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.panel .panel-bg-wrap > img {
    position: absolute;
    top: 0;
    left: 0;
}
.panel .panel-bg-wrap + .panel-body {
    position: relative;
}
.panel-media {
    box-shadow: 0 -50px 20px -10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px 15px 140px;
    position: relative;
}
.panel-media-img {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 20px;
    top: -48px;
}
.panel-media-heading {
    color: #fff;
    position: absolute;
    top: -2.7em;
}
.panel .panel-heading,
.panel > :first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
}
.panel .panel-footer,
.panel > :last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-body-full {
    margin-left: -20px;
    margin-right: -20px;
}
.panel-body {
    padding: 15px 20px 25px;
}

.panel.no-border{
    border:0;
    box-shadow:none;
}
.panel-arrow{
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    transition: all .3s ease;
}
.panel-arrow:before{
    font-family: "Ionicons";
    content: "\f126";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.panel.collapsed .panel-arrow{
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
}


/**
*   MOBILE CONTENT
**/

.mobile-content{
}
.mobile-content img{
    max-width: 100%;
}
.mobile-content .row {
    margin-left: -3px;
    margin-right: -3px;
}
.mobile-content .row [class^="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}
.content-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;

}
.content-title:after{
    content: "";
    width: 20px;
    border-top: 3px solid #0084ff;
    display: block;
    margin: 5px auto;
}


/**
*   SHOP
**/
.no-results{
    padding: 0 15px;
}
.no-results span{
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-list{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    background: #fff;
}
.product-img{
    border-bottom: 1px solid #e5e5e5;
    height: 140px;
    position: relative;
    overflow: hidden;
}
.product-img img,
.cart-product .cart-product_img img{
    min-width: 100%;
    height: auto !important;
    max-height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute; 
}
.product-description{
    padding: 0 5px 10px 5px;
}
.product-description a{
    color: inherit;
}
.product-description a:hover{
    text-decoration: none;
}
h4.product-title{
    font-size: 14px;
    text-overflow: ellipsis;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:0;
}
.product-rating{
    height: 20px;
    color: #e06972;
    margin-top: 5px;
}
.product-regular_price{
    font-size: 12px;
    text-decoration: line-through;
    color: #ccc;
    line-height: 12px;
    height: 15px;
}
.product-price{
    font-size: 13px;
    font-weight: bold;
    color: #18ba9b;
}


.modal.filter-modal .modal-dialog{
    max-width: 400px;
}
.modal.filter-modal .modal-dialog .modal-title{
    text-align: center;
    color: #42b54a;
    font-weight: bold;
    font-size: 18px;
}
.filter-modal .panel > .panel-heading > .panel-title {
    color: #47b760;
    text-transform: uppercase;
    font-size: 14px;
    /* font-weight: bold; */
}
.price-range-wrapper{
    font-size: 13px;
    color: #8a8a8a;
    font-weight: normal;
    margin-top: 5px;
    text-transform: none;
}
.price-slider-range{
    border: 1px solid transparent;
    background: #ccc;
    width: 98%;
}
.price-slider-range .ui-slider-range{
    background: rgb(139, 195, 74);   
}
.price-slider-range.ui-slider .ui-slider-handle{
    top: -0.35em;
    margin-left: -.6em;
    border: 1px solid #D9D9D9;
    border-radius: 1px;
    background: #FFF;
    cursor: default;
    height: 20px;
    width: 20px;
}
.price-slider-range.ui-slider .ui-slider-handle:active,
.price-slider-range.ui-slider .ui-slider-handle:focus,
.price-slider-range.ui-slider .ui-slider-handle:hover{
    outline: none;
}
.price-slider-range.ui-slider .ui-slider-handle:before,
.price-slider-range.ui-slider .ui-slider-handle:after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 1px;
    background: #E8E7E6;
    left: 4px;
    top: 3px;
}
.price-slider-range.ui-slider .ui-slider-handle:after{
    left: 12px;
}
.btnFilter {
    padding: 10px 15px;
}
.btnFilter button,
.btnFilter button:hover,
.btnFilter button:active,
.btnFilter button:focus {
    display: block;
    background: #f16a24;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    outline: 0;
}
.sort-list,
.category-list{
    padding: 10px 15px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
    position: relative;
}
.sort-list.selected:after,
.category-list.selected:after {
    content: "\f121";
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    padding: 10px 15px;
    right: 0;
    top: 0;
    color: #42b54a;
}

/**
*   PRODUCT DETAIL
**/
.product-detail > .product-detail_img{
    height: 300px;
    background: #dedede;
}
.product-detail > .product-detail_img .swiper-slide{
    height: 300px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.product-detail > .product-detail_img .swiper-slide img{
    max-height: 300px;
}

.product-detail .product-detail_title h1{
    margin: 0;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 18px;
    margin-bottom: 20px;
}
.product-detail .product-detail_info dl{
    margin-bottom: 10px;
}
.product-detail .product-detail_info dt{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    color: #bbb;
}
.product-detail .product-detail_info dd{
    font-weight: 400;
}
.product-detail .product-detail_info dd a {
    font-weight: bold;
    color: #18ba9b;
}
.product-detail_price{
    font-weight: bold;
    color: #4CAF50;
}
.product-detail_regular_price{
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
}
.product-detail_regular_price .discount-container {
    margin-left: 5px;
    text-align: center;
    display: inline-block !important;
}
.product-detail_regular_price .product-arrow-left-new {
    display: inline-block !important;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border: 1px solid #fc2029;
    border-width: 0 0 1px 1px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.product-detail_regular_price .product-discount-new {
    padding: 2px 5px;
    color: #fc2029;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline !important;
    vertical-align: middle;
    border: 1px solid #fc2029;
    margin-left: -5px;
    font-size: 11px;
}

.description.read-more {
    position: relative;
    overflow: hidden;
    max-height: 150.6px;
    transition: max-height 500ms ease;
}
.description.read-more::before {
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opactiy 500ms ease, visibility 500ms ease;
    height: 64.8px;
}
.description.read-more .more-btn {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #4CAF50;
    font-weight: bold;
    width: 100%;
    max-width: 450px;
}
.description.read-more.expanded {
    max-height: 100%;
}
.description.read-more.expanded:before{
    display:none;
}
.description.read-more.expanded .more-btn{
    position: relative;
}
.note-list {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.note-list:last-child{
    border-bottom:0;
}
.note-list a {
    /* text-transform: uppercase; */
    color: #009688;
    text-decoration: none;
}

.form-add-cart .form-group {
    padding: 10px 15px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
}
.form-add-cart label{
    font-weight: normal;
    color:#999;
}
.qty_field .input-group.bootstrap-touchspin{
    width:120px;
    float:right;
}
.remark_field label {
    display: block;
}
.remark_field textarea {
    resize: none;
    height: 65px;
    border: 0;
    font-size: 12px;
    width: 100%;
    overflow-y: scroll;
    outline: 0;
}

/** CART **/
.cart-product{
    padding:0;
}
.cart-product > .content{
    margin:10px;
}
.cart-product.error{
    border: 2px solid #ff6666;
}
.cart-product .message{
    display: none;
    padding:10px 15px;
}
.cart-product.error .message{
    display: block;
    background: #ff6666;
    color: #fff;
}
.cart-product .cart-product_img,
.detail-product_img{
    width: 30%;
    max-width: 70px;
    max-height: 70px;
    margin-right: 10px;
    overflow: hidden;
    height: 70px;
    position: relative;
}
.cart-product .cart-product_title,
.detail-product_title{
    color: #888;
    font-size: 13px;
    width: 65%;
    font-weight: 600;
}
.cart-product .product-not-available{
    border: 2px solid #ea9c9c;
}
.cart-product .product-not-available .alert{
    border:none;
    border-radius: 0;
}


/**
* PAYMENT
**/
.btn-detail_transaction{
    border-radius: 15px !important;
    background: #fff;
    margin-top:10px;
    color: #999;
    border: 1px solid #ccc;
}
.btn-detail_transaction:hover,
.btn-detail_transaction:active,
.btn-detail_transaction:focus{
    background-color: #fff !important;
    color: #999;
    outline: 0 !important;
    box-shadow: none !important;
}
.detail_transaction{
    display: none;
}
.detail_transaction h2{
    position: relative;
    margin: 0 0 10px;
}
.detail_transaction h2 > span{
    font-size:17px;
    margin-top:7px;
    position: absolute;
}
.detail_transaction h2 > i{
    font-size:30px;
    margin: 0 15px 0 0;
    color: #f77f7a;
}
.detail_transaction .total{
    border-top: 1px solid #ccc;
    margin-top:10px;
    font-weight: bold;
    padding-top:10px;
}
.detail_transaction .invoice{
    margin-bottom: 30px;
}
.detail_transaction .items > .list >.item{
    margin-bottom: 10px;
}
.detail_transaction .items > .list >.item > span{
    font-style: italic;
    color: #999;
    display:block;
}
.detail_transaction .items .total{
    font-weight: normal;
    font-style: italic;
    color: #999
}

/**
*   LOADING
**/

#loading-page{
    background-color: #333333;
    background-color: rgba(51, 51, 51, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
    display:none;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg); 
    -webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);

}
.object{

    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left:  5px solid #FFF;
    border-right: 5px solid transparent;

    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;	

}


#object_one{
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two{
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_three{
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four{
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;

}	

@-webkit-keyframes animate {
    50% {

        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
    }
}

@keyframes animate {
    50% {

        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
    }	
}


/**
*   OVERLAY 
**/
.overlay-purchase-confirmation {
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
}
.area-popup-235 {
    width: 235px;
    border-radius: 4px;
    margin: 30% auto 40px auto;
}
.area-popup-235__content {
    padding: 20px;
}
.btn-continue-shopping{
    width: 100%;
    border: 1px solid #ccc;
}

/** FORM **/
form label {
    font-weight: normal;
}
.form-control {
    border: 1px solid #dedede;
    box-shadow: none !important;
    border-radius: 0;
}
.select2-container--krajee .select2-selection {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #dedede;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow{
    border-left: 0;
}

.error-summary {
    background: red;
    border-color: #953b39;
    color: #fff;
    background-color: #F44336;
    text-shadow: none;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
.error-summary p {
    margin-bottom: 5px;
}
.error-summary ul {
    margin: 0;
    padding-left: 25px;
}

.rating-xs {
    font-size: 1.2em;
}
.rating-container 
.filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #42b54a;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: none;
    text-shadow: none;
}

/** SOCIAL ICON **/
/*Icons
------------------------------------*/
/*Social Icons*/
.social-icons {
	margin: 0;
	padding: 0;
}

.social-icons li {
	list-style: none;
	margin-right: 3px;
	margin-bottom: 5px;
	text-indent: -9999px;
	display: inline-block;
}

.social-icons li a, a.social-icon {
	width: 28px;
	height: 28px;
	display: block;
	background-position: 0 0;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

.social-icons li:hover a {
	 background-position: 0 -38px;
}

.social-icons-color li a {
	opacity: 0.7;
	background-position: 0 -38px !important;
	-webkit-backface-visibility: hidden; /*For Chrome*/
}

.social-icons-color li a:hover {
	opacity: 1;
}

.social_facebook {background: url(../img/shop1/icons/facebook.png) no-repeat;}
.social_googleplus {background: url(../img/shop1/icons/googleplus.png) no-repeat;}
.social_twitter {background: url(../img/shop1/icons/twitter.png) no-repeat;}


/**
*   COMPONENTS
**/
.no-pd{
    padding:0;
}
.pad-5{
    padding:5px !important;
}
.pad-10{
    padding: 10px !important;
}
.pad-15{
    padding: 15px !important;
}
.pad-top10{
    padding-top:10px !important;
}
.pad-top15{
    padding-top:15px !important;
}
.pad-top20{
    padding-top:20px !important;
}
.pad-top25{
    padding-top:25px !important;
}
.pad-top30{
    padding-top:30px !important;
}
.pad-bot10{
    padding-bottom:10px !important;
}
.pad-bot15{
    padding-bottom:15px !important;
}
.pad-bot20{
    padding-bottom:20px !important;
}
.pad-bot25{
    padding-bottom:25px !important;
}
.pad-bot30{
    padding-bottom:30px !important;
}

.pad-left5{
    padding-left:5px !important;
}
.pad-left10{
    padding-left:10px !important;
}
.pad-left15{
    padding-left:15px !important;
}
.pad-left20{
    padding-left:20px !important;
}
.pad-left25{
    padding-left:25px !important;
}
.pad-left30{
    padding-left:30px !important;
}

.pad-right5{
    padding-right:5px !important;
}
.pad-right10{
    padding-right:10px !important;
}
.pad-right15{
    padding-right:15px !important;
}
.pad-right20{
    padding-right:20px !important;
}
.pad-right25{
    padding-right:25px !important;
}
.pad-right30{
    padding-right:30px !important;
}

.no-margin{
    margin:0 !important;
}
.margin-bottom0{
    margin-bottom: 0;
}
.margin-bottom10{
    margin-bottom: 10px;
}

.margin-top10{
    margin-top: 10px;
}
.margin-top20{
    margin-top: 20px;
}

.flat{
    border-radius:0;
}
.no-border{
    border:none;
}
.border-ef{
    border: 1px solid #efefef;
}
.border-bt-ef {
    border-bottom: 1px solid #efefef;
}
.border-tp-ef {
    border-top: 1px solid #efefef;
}
.border-rt-ef {
    border-right: 1px solid #efefef;
}
.border-lt-ef {
    border-left: 1px solid #efefef;
}

.btn{
    border-radius:2px;
}
.btn:active,
.btn:focus,
.btn:hover{
    outline: 0;
}
.btn-orange{
    background: #fb6100;
    color: #fff !important;
}
.btn-blue{
    background: #0084ff;
    color: #fff !important;
}
.bg-orange{
    background: #fb6100;
}
.bg-white{
    background: #fff;
}
.bg-soft-grey{
    background: #f8f8f8;
}

.text-bold{
    font-weight: bold;
}
.text-grey {
    color: #aaa;
}
.text-soft-red,
.text-soft-red:hover,
.text-soft-red:active,
.text-soft-red:focus{
    color:#ff7676;
}
.text-green{
    color: #18ba9b;
}
.text-blue,
.btn.text-blue:hover,
.btn.text-blue:active,
.btn.text-blue:focus{
    color: #0084ff;
}

.btn.text-green:hover,
.btn.text-green:active,
.btn.text-green:focus{
    color: #18ba9b;
}

.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}


@media screen and (max-width: 275px){
    .modal:before{
        margin-left: -10px;
    }
}
@media screen and (max-width: 480px){
    body,
    html{
        background: #f8f8f8;
    }
}
@media screen and (min-width: 400px){

    .product-img{
        height: 165px;
    }
}
@media screen and (min-width: 480px){
    .navbar-promobox, 
    .sticky-filter-date, 
    .navbar, .sticky-buy-2, 
    .sticky-filter, 
    .sticky-to-bottom, 
    .footer, .navbar-fixed, 
    .sticky-butuh-bantuan, 
    .sticky-filter-button,
    .tab-fixed-button{
        max-width: 480px;
        left: unset;
    }

    .product-img{
        height: 180px;
    }
}

