/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

/* header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
} */

section {
  padding: 70px 0;
}

.lato{
  font-family: 'Lato', sans-serif;
}
.roboto{
  font-family: 'Lato', sans-serif !important;
}
.open-sans{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}




/* .bg-dark{
  background: transparent !important;
} */
.img-banner{
  position: absolute;
  right: 0;
  text-align: right;
}
