html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

input, textarea, select {
  outline: none;
  box-shadow:none !important;
}

/* static */
.purple {
    color: #7952b3;
}
.btn-purple {
    background-color: #7952b3 !important;
    color: #fff !important;
}
.no-item {
    width: 160px !important;
    margin: 0 auto;
}
.logo-white {
    filter: brightness(0) invert(1);
}
.empty_stat{
    position: absolute;
    margin: 0 auto;
    top:0;right: 0;bottom: 0;left: 0;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.empty_stat span{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flash_tag{
    position: absolute;
    right: 0;
    z-index: 3;
    background:url('/images/flash-sale-tag.png') no-repeat;
    background-size: contain;
    padding-bottom: 45%;
    padding-left: 45%; 
}


/*.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.content-pay input,
.content-pay textarea,
.content-pay select {
    border: none;
    border-bottom: 1px solid grey;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -75%, 0);
  opacity: 1;
  padding-left: 5px;
}*/
/* end static */
/* */
#main-container {
    max-width: 480px;
    overflow: hidden;
    margin: 0 auto;
}
.header {
    background-size: cover !important;
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-position: center center !important;
}
.header .img-profile {
    border: 4px solid #fff;
    border-radius: 50%;
    background-size: contain !important;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    margin-top: 10rem;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 4;
}
.head-top{
    padding: 8px 10px;
    background-color: #7952b3;
    color: #fff;
    box-shadow: 0px 1px 2px #6c757d;
    max-width: 480px;
}
.head-top .button-hbg{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    color: #fff;
}
.head-top .button-hbg:hover{
        
}
.head-top .button-hbg.sc{
    float: right;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.head-top .title{
    display: inline-block;
    font-weight: bold;
}
.head-top.fixed{
    position: fixed;
    width: 100%;
    z-index: 16;
}
.store-info {
    padding-top: 75px;
    text-align: center;
}
.store-info .title {
    font-size: 20px;
    font-weight: 600;
}
#item-detail{
    padding-top: 2.5rem;
}
#item-detail .img-square-container{
    width: 100%;
    position: relative;
}
#item-detail .img-square-container:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
#item-detail .img-square-container .img-square-item{
    position: absolute;
    width: 100%;
    height: 100%;
}
.buy .content-pay{
    border-radius: calc(.25rem - 1px);
    border: solid .5px #dbdbdb;
    width: 100%;
    background-color: #fff;
    padding: .25rem 1rem;
    font-size: calc(.8rem - 1px);
}
.buy .content-pay hr{
    margin: .3rem 0 !important;
}
.buy .form-group{
    margin: calc(.7rem - 1px) 0;
}
.buy button.buy {
    width: 100%;
    border-radius: 0;
}
.buy-button{
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    max-width: 480px;
}
.buy-button .btn{
    /*width: 100%;*/
    border-radius: 0;
    /*padding: .6rem;*/
}
.buy-button .dropdown .dropdown-menu{
    width: 100%;
    margin-left: 5px !important;
    border-radius: 0px;
}
.buy-button .dropdown .dropdown-menu .row{
    margin: 0;
}
.footer {
    margin-top: 30px;
}
.footer .button-check {
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer .footer-inside {
    width: 100%;
    background: url('/images/footer.png');
    background-repeat: no-repeat;
    padding: 20px 0;
    background-size: cover;
}
.footer .footer-inside img {
    margin: 0 auto;
    display: block;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

/*.title {
    font-size: 84px;
}*/

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.social-share{
    display: flex;
    width: 280px;
    text-align: center;
}
.social-share .button-share{
    position: relative;
    display: block;
    flex: 1 0 auto;
    padding: 12px 8px;
    line-height: 24px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
.social-share .button-share i{
    width: 24px;
    height: 24px;
}
.social-share .button-share.facebook{
    background-color: #3b5998;
}
.social-share .button-share.twitter{
    background-color: #1da1f2;
}
.social-share .button-share.google{
    background-color: #dd4b39;
}
.social-share .button-share.line{
    background-color: #00c300;
}
.social-share .button-share.whatsapp{
    background-color: #075e54;
}
.product .item{
    padding: 5px 10px;
    overflow: hidden;
}
.product .item:hover a{
    text-decoration: none;
    cursor: pointer;
}
.img-sq-f{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.product .item .image{
    transition: .5s ease;
    backface-visibility: hidden;
    border: 1px solid #D3D3D3;
}
.product .item .detail{
    /*border: .8px solid #D3D3D3;*/
    padding: 5px;
    color: #000;
    /*border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);*/
}
.product .item .detail .title{
    font-size: 14px;
    margin-bottom: 0;
}
.product .item .detail .price{
    /*font-weight: thin;*/
    display: inline-block;
    padding: 1.5% 4%;
    border-radius: calc(.25rem - 1px);
    font-size: 14px;
    background-color: #7952b3;
    color: #fff;
}
.overlay{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 15px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    transition: .5s ease;
}
.item:hover .image {
    opacity: 0.3;
    cursor: pointer;
}
.item:hover .overlay{
    opacity: .3;
}
.item:hover .middle {
    opacity: 1;
}
.text {
    border: 4px solid #000;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 20px;
    cursor: pointer;
}
.product img{
    width: 100%;
}
.back{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button.back {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
.modal-header .back {
    padding: 1rem;
    margin: -1rem -1rem -1rem;
}
.back:focus, .back:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

@media screen and (min-width: 425.1px){
    .header {
        height: 280px;
    }
    .header .img-profile {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: absolute;
        margin-top: 14rem;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 4;
    }
}