/*********************************************** 
  needShareButton
  - Version 1.0.0
  - Copyright 2015 Dzmitry Vasileuski
  - Licensed under MIT (http://opensource.org/licenses/MIT)
***********************************************/
/* Social icons font
***********************************************/
@font-face {
  font-family: 'social-icons';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../lib/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../lib/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}
/* Share button
***********************************************/
.need-share-button {
  position: relative;

  display: inline-block;
}
.need-share-button_dropdown {
  position: absolute;
  z-index: 10;

  visibility: hidden;
  overflow: hidden;

  width: 240px;

  -webkit-transition: .3s;
          transition: .3s;
  -webkit-transform: scale(.1);
      -ms-transform: scale(.1);
          transform: scale(.1);
  text-align: center;

  opacity: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.need-share-button-opened .need-share-button_dropdown {
  visibility: visible;

  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);

  opacity: 1;
}
.need-share-button_dropdown-box-vertical,
.need-share-button_dropdown-box-horizontal {
  -webkit-border-radius: 0;
          border-radius: 0;
}
.need-share-button_dropdown-box-vertical {
  width: 40px;
}
.need-share-button_dropdown-box-horizontal {
  width: auto;

  white-space: nowrap;
}
.need-share-button_link {
  display: inline-block;

  width: 40px;
  height: 40px;

  line-height: 40px;

  cursor: pointer;
  text-align: center;
}
.need-share-button_link:after {
  font: normal normal normal 16px/1 'social-icons';

  text-align: center;
  text-transform: none;

  speak: none;
}
.need-share-button_link:hover {
  -webkit-transition: .3s;
          transition: .3s;

  opacity: .7;
}
/* Dropdown position
***********************************************/
.need-share-button_dropdown-top-left {
  right: 100%;
  bottom: 100%;

  margin-right: 10px;
  margin-bottom: 10px;
}
.need-share-button_dropdown-top-right {
  bottom: 100%;
  left: 100%;

  margin-bottom: 10px;
  margin-left: 10px;
}
.need-share-button_dropdown-top-center {
  bottom: 100%;
  left: 50%;

  margin-bottom: 10px;
}
.need-share-button_dropdown-middle-left {
  top: 50%;
  right: 100%;

  margin-right: 10px;
}
.need-share-button_dropdown-middle-right {
  top: 50%;
  left: 100%;

  margin-left: 10px;
}
.need-share-button_dropdown-bottom-left {
  top: 100%;
  right: 100%;

  margin-top: 10px;
  margin-right: 10px;
}
.need-share-button_dropdown-bottom-right {
  top: 100%;
  left: 100%;

  margin-top: 10px;
  margin-left: 10px;
}
.need-share-button_dropdown-bottom-center {
  top: 100%;
  left: 50%;

  margin-top: 10px;
}
/* Default theme
***********************************************/
.need-share-button-default .need-share-button_button {
  display: inline-block;

  margin-bottom: 0;
  padding: 6px 12px;

  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  color: #333;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff;
}
.need-share-button-default .need-share-button_dropdown {
  position: absolute;

  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
/* Network buttons
***********************************************/
.need-share-button_mailto {
  color: #efbe00;
}
.need-share-button_mailto:after {
  content: '\e80a';
}
.need-share-button_mailto.need-share-button_link-box {
  color: #fff;

  background: #efbe00;
}
.need-share-button_twitter {
  color: #00acec;
}
.need-share-button_twitter:after {
  content: '\e813';
}
.need-share-button_twitter.need-share-button_link-box {
  color: #fff;

  background: #00acec;
}
.need-share-button_pinterest {
  color: #cd2027;
}
.need-share-button_pinterest:after {
  content: '\e80f';
}
.need-share-button_pinterest.need-share-button_link-box {
  color: #fff;

  background: #cd2027;
}
.need-share-button_facebook {
  color: #3b5998;
}
.need-share-button_facebook:after {
  content: '\f230';
}
.need-share-button_facebook.need-share-button_link-box {
  color: #fff;

  background: #3b5998;
}
.need-share-button_googleplus {
  color: #d44132;
}
.need-share-button_googleplus:after {
  content: '\e80d';
}
.need-share-button_googleplus.need-share-button_link-box {
  color: #fff;

  background: #d44132;
}
.need-share-button_reddit {
  color: #000;
}
.need-share-button_reddit:after {
  content: '\e810';
}
.need-share-button_reddit.need-share-button_link-box {
  color: #fff;

  background: #000;
}
.need-share-button_delicious {
  color: #000;
}
.need-share-button_delicious:after {
  content: '\e815';
}
.need-share-button_delicious.need-share-button_link-box {
  color: #fff;

  background: #000;
}
.need-share-button_tapiture {
  color: #30547d;
}
.need-share-button_tapiture:after {
  content: '\e808';
}
.need-share-button_tapiture.need-share-button_link-box {
  color: #fff;

  background: #30547d;
}
.need-share-button_stumbleupon {
  color: #f04e23;
}
.need-share-button_stumbleupon:after {
  content: '\e811';
}
.need-share-button_stumbleupon.need-share-button_link-box {
  color: #fff;

  background: #f04e23;
}
.need-share-button_linkedin {
  color: #0085af;
}
.need-share-button_linkedin:after {
  content: '\e80c';
}
.need-share-button_linkedin.need-share-button_link-box {
  color: #fff;

  background: #0085af;
}
.need-share-button_slashdot {
  color: #026664;
}
.need-share-button_slashdot:after {
  content: '\e806';
}
.need-share-button_slashdot.need-share-button_link-box {
  color: #fff;

  background: #026664;
}
.need-share-button_technorati {
  color: #49ae47;
}
.need-share-button_technorati:after {
  content: '\e807';
}
.need-share-button_technorati.need-share-button_link-box {
  color: #fff;

  background: #49ae47;
}
.need-share-button_posterous {
  color: #795d31;
}
.need-share-button_posterous:after {
  content: '\e809';
}
.need-share-button_posterous.need-share-button_link-box {
  color: #fff;

  background: #795d31;
}
.need-share-button_tumblr {
  color: #34465d;
}
.need-share-button_tumblr:after {
  content: '\e812';
}
.need-share-button_tumblr.need-share-button_link-box {
  color: #fff;

  background: #34465d;
}
.need-share-button_googlebookmarks {
  color: #fde331;
}
.need-share-button_googlebookmarks:after {
  content: '\e80b';
}
.need-share-button_googlebookmarks.need-share-button_link-box {
  color: #fff;

  background: #fde331;
}
.need-share-button_newsvine {
  color: #03652c;
}
.need-share-button_newsvine:after {
  content: '\e803';
}
.need-share-button_newsvine.need-share-button_link-box {
  color: #fff;

  background: #03652c;
}
.need-share-button_pingfm {
  color: #94b5da;
}
.need-share-button_pingfm:after {
  content: '\e805';
}
.need-share-button_pingfm.need-share-button_link-box {
  color: #fff;

  background: #94b5da;
}
.need-share-button_evernote {
  color: #79d626;
}
.need-share-button_evernote:after {
  content: '\e801';
}
.need-share-button_evernote.need-share-button_link-box {
  color: #fff;

  background: #79d626;
}
.need-share-button_friendfeed {
  color: #b0cbe9;
}
.need-share-button_friendfeed:after {
  content: '\e802';
}
.need-share-button_friendfeed.need-share-button_link-box {
  color: #fff;

  background: #b0cbe9;
}
.need-share-button_vkontakte {
  color: #4c75a3;
}
.need-share-button_vkontakte:after {
  content: '\e814';
}
.need-share-button_vkontakte.need-share-button_link-box {
  color: #fff;

  background: #4c75a3;
}
.need-share-button_odnoklassniki {
  color: #ed812b;
}
.need-share-button_odnoklassniki:after {
  content: '\e804';
}
.need-share-button_odnoklassniki.need-share-button_link-box {
  color: #fff;

  background: #ed812b;
}
.need-share-button_mailru {
  color: #f89c0e;
}
.need-share-button_mailru:after {
  content: '\e800';
}
.need-share-button_mailru.need-share-button_link-box {
  color: #fff;

  background: #f89c0e;
}
.need-share-button_whatsapp {
  color: #25D366;
}
.need-share-button_whatsapp:after {
  content: '\f232';
}
.need-share-button_whatsapp.need-share-button_link-box {
  color: #fff;

  background: #25D366;
}
.need-share-button_copied {
  color: #150f0f;
}
.need-share-button_copied:after {
  content: '\f0c5';
}
.need-share-button_copied.need-share-button_link-box {
  color: #fff;

  background: #150f0f;
}
