<template>
  <div>
    <div v-if="!show_notfound" class="row container-product pb-6 mb-5">
      <div v-bind:key="product.id" v-for="product in dataproducts" class="col-4 mb-2 center">
        <a :href="'/product/'+product.slug">
          <img
            :src="'/uploads/product/'+product.store_id+'/'+product.link_image"
            alt="gambar product"
            class="products-image"
          />
          <b style="font-size:1em">{{product.name}}</b>
          <label class="price">{{formatRupiah(''+product.price,"Rp.")}}</label>
        </a>
      </div>
    </div>
    <div v-else class="container notfound py-5">
      <img src="/images/empty.png" style="width:30%"/>
      <h4 class="font-weight-bold" style="color: #c6c6c6;">Produk tidak ditemukan</h4>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataproducts: Array,
    show_notfound: Boolean
  },
  methods: {
    /* Fungsi formatRupiah */
    formatRupiah(angka, prefix) {
      var number_string = angka.replace(/[^,\d]/g, "").toString(),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        var separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
    }
  }
};
</script>

<style>
.center {
  text-align: center;
}
</style>