<template>
<div>
<div class="product-catagories-wrapper pt-3">
      <div class="container">
        <div class="section-heading">
          <h6 class="ml-1">Product Category</h6>
        </div>
        <div class="product-catagory-wrap">
          <div class="row">
            <div v-for="catagory in catagories" class="col-4">
              <div class="card mb-3 catagory-card">
                <div class="card-body"><a href="catagory.html"><img :src="'/images/category/'+catagory.image" alt=""><span>{{catagory.name}}</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
  export default{
    data:()=>({
      catagories:[]
    }),
    mounted() {
      this.$api.get("/category")
      .then(res => {
        console.log(res)
        this.catagories=res.data.data
      })
      .catch(err => {
        console.error(err); 
      })
    },
  }
</script>