.nav-child-item {
    margin-left: 48px;
}

.p-8 {
    padding: 8px
}

.tempelkanan {
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 1em;
}

.empty_stat {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.cover {
    background-size: cover !important;
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-position: center center !important;
}

.cover .img-profile {
    border: 4px solid #fff;
    border-radius: 50%;
    background-size: contain !important;
    width: 173px;
    height: 173px;
    overflow: hidden;
    position: relative;
    margin-top: -1px;
    top: 95px;
    left: 50%;
    transform: translate(-50%, 0);
}

.demo-cart {
    position: absolute;
    right: 67px;
    top: 17px;
}

.demo-product {
    position: absolute;
    right: 38px;
    top: 17px;
}

.reveal span {
    background: #fff none repeat scroll 0 0;
    width: 16px;
    display: block;
    height: 2px;
    margin-top: 2px;
    margin-left: 20px;
}

.reveal {
    display: inline-block;
    margin-right: 30px;
}

.demo-share {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 5px 9px;
    font-size: 19px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.store-info .title {
    font-size: 20px;
    font-weight: 600;
}

.product .item .detail .title {
    font-size: 14px;
    margin-bottom: 0;
    color: black;
    margin-top: 5px;
}

.btn-viralmu {
    box-shadow: none;
    outline: 0 !important;
    padding: 7px;
    border: 1px solid #b72323;
    border-radius: 11px;
    color: #f8f9fa;
    background: linear-gradient(45deg, #f10e0e, #582d22d6);
}

.sd {
    box-shadow: 0 0.125rem 1.55rem rgba(0, 0, 0, 0.25) !important;
}

.sd .card-img-top {
    height: 14em;
    object-fit: cover;
}

.sd:hover {
    box-shadow: 0 0.125rem 1.55rem rgba(0, 0, 0, 15) !important;
}

.sd-product {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 0px
}


.sd-headdesc {
    border-right: 1px solid #00000082;
}

.sd-price {
    border-radius: 5px;
    background-color: orange;
    padding: 5px;
    color: white;
    position: absolute;
    z-index: 1;
    left: 5px;
    bottom: 7px;
}

.sd .empty {
    width: 100%;
    background-color: #0a0a09d4;
    height: 100%;
    position: absolute;
}

.sd .empty h3 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.rs-card .card-header {
    background-color: rgba(254, 165, 0, 0.34);
}

.store-info {
    padding-top: 75px;
    text-align: center;
}

.demo-nav {
    z-index: 1900;
    position: absolute;
    width: 92%;
    margin: 0 auto;
    color: white;
}

.demo-product-title {
    margin-top: 5px;
    font-size: 14px;
    color: black;
}

b .title-category {
    text-align: center;
}

.price {
    display: block;
    padding: 1.5% 4%;
    border-radius: calc(.25rem - 1px);
    font-size: 14px;
    background-color: #7952b3;
    color: #fff;
}

.img-sq-f {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.container-review {
    max-height: 800px;
    overflow: scroll;
}

.cover-toko {
    height: 50vh;
    background-size: cover;
    height: 100%;
    background-position: center center;
}

.mt-1 {
    margin-top: 10px;
}

.pb-6 {
    padding-bottom: 61px;
}

.action-toko {
    background-color: #efefef;
    height: 74px;
    margin-top: -134px;
}

.action-toko .left {
    cursor: pointer;
    position: absolute;
    left: 10px;
    padding: 5px 9px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 8px;

}



.action-toko .right {
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px 9px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 8px;
}

.container-product {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo-toko {
    height: 132px;
    object-fit: cover;
    position: relative;
    bottom: 79px;
    left: 36%;
    border-radius: 50%;
}

.nama-toko {
    background-color: #ffffff75;
    top: 110px;
    left: 20px;
}

.btn-category {
    background-size: cover;
    color: white;
}

.products-image {
    height: 120px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.deskripsi-toko {
    margin-top: -89px;
    padding: 20px;
    text-align: center;
}

.deskripsi {
    color: white
}

#praupload {
    margin-top: 20px;
    height: 116px;
    object-fit: cover;
    display: list-item;
    border-radius: 3px;
}

#praupload_u {
    margin-top: 20px;
    height: 116px;
    object-fit: cover;
    display: list-item;
    border-radius: 3px;
}

.table-img {
    height: 100px;
    object-fit: cover;
    width: 125px;
}


/* carausel */

.MultiCarousel {
    float: left;
    overflow: hidden;
    /* padding-left: 29px; */
    margin-left: 55px;
    width: 400px;
    position: relative;
    padding-bottom: 10px;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    color: #666;
}

.leftLst,
.rightLst {
    position: absolute;
    top: calc(50% - 25px);
    min-width: 9px;
    padding-top: 10px;
}

.leftLst {
    left: 25px;
}

.rightLst {
    right: 25px;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #cccccc52;
    border-radius: 0px;
}

.leftLst-trigger {
    cursor: pointer;
    position: absolute;
    left: 10px;
    padding: 5px 9px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 4px;
}

.rightLst-trigger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px 9px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 4px;
}

.pad-15 img {
    width: 100%;
    height: 92px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-tr {
    background: #cccccc52;
    color: white;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    bottom: 39px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}

.notfound {
    text-align: center;
    margin-bottom: 52px;
}

.notfound h3 {
    font-weight: bold;
    color: #c6c6c6;
}

a.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;

}

a.whatsapp-btn img {
    width: 60px;
}

@media screen and (max-width: 580px) {

    .sd-product {
        margin: 10px;
        margin-bottom: 0px
    }

    a.whatsapp-btn img {
        width: 40px;
        margin-bottom: 28px
    }

    .MultiCarousel {
        float: left;
        overflow: hidden;
        padding-left: 0px;
        margin-left: 8px;
        width: 400px;
        position: relative;
        padding-bottom: 10px;
    }

    .logo-toko {
        left: 33%
    }

    .products-image {
        height: 89px;
    }


    .MultiCarousel .MultiCarousel-inner .item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .item {
        width: auto
    }
}

.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link {
    color: #000;
}

.page-link:hover {
    color: #000;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.09);
}

.btn-reseller {
    border-color: orange;
    background-color: orange;
    color: white;
}

.th-reseller {
    color: #495057;
    background-color: #fee0a8;
    border-color: #d6972424
}