html{
    overflow-x:hidden; 
}
h1{
    font-size: 35px;
}
header.height100, .height100{
    height: 580px;
    background-size: cover;
    position: relative;
    min-height:580px;
}
header.height50{
    height: 380px;
    background-size: cover;
    position: relative;
}
.header-phone{
    position: absolute;
    right: 0px;
    bottom: -155px;
}
.relative{
    position: relative;
}
.bg-gradient{
    background-image: url('../img/bg-banner.png');
    background-size: cover;
    position: relative;
}
.bg-login{
    background-image: url('../img/bg-login.png');
    background-size: cover;
    position: relative;
    background-position: center;
}
.bg-grey{
    background: #f1f1f1;
}
.logo{
    width: 200px;
}
.pt-30{
    padding-top: 3em;
}
.navbar .nav li a.active{
    font-weight: bold;
}
.text-purple{
    color: #7756b1;
  }
.email{
    background-image: url('../img/bg-email.png');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.effect:before{
    content: '';
    width: 600px;
    height: 400px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-image: url('../img/transparant.png');
    background-repeat: none;
}
.effect:after{
    content: '';
    width: 600px;
    height: 400px;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    background-image: url('../img/transparant.png');
    background-repeat: none;
}


.break{
    display: block;
    margin-bottom: 100px;
}
.break30{
    display: block;
    margin-bottom: 30px;
}
.break40{
    display: block;
    margin-bottom: 40px;
}
.break20{
    display: block;
    margin-bottom: 20px;
}
.break80{
    display: block;
    margin-bottom: 80px;
}
.break60{
    display: block;
    margin-bottom: 60px;
}
.break100{
    display: block;
    margin-bottom: 100px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
}

#fitur .card .card-body{
    color: #7756b1;
    transition: 0.5;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 5px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}
#fitur .card .card-body:hover{
    background: #ffffff;
    color: #7756b1;
    transition: 0.5;
}
#about .panel{
    padding: 30px 10px;
}
.row.responsive{
    display: none;
}



/* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);



/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
    background-color: #fff;
    border: 1px solid #ddd;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	background-color: #ffffff;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    border-bottom: 1px solid #dddddd;
}


#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #7756b1;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #7756b1; 
    color: #7756b1;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head{
	background: #7756b1;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #7756b1;
	color: #fff;
} 
#generic_price_table{
	margin: 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

.padding20{
    padding: 20px;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_price_tag{
    text-align: left;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding: 30px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
    border-bottom: 1px solid #dddddd;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
    border-radius: 10px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (min-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (max-width: 992px) {
    .header-phone{
        position: relative;
        right: 0px;
        bottom: 0;
        margin-top: 30px;
    }
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

/* .text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
} */
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #7756b1;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}


footer{
    padding: 40px 0;
    background: #3f266c;
}
footer .connect img{
    margin-right: 10px;
}

img.logo-white{
    width: 180px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
}
img.img-login{
    filter: brightness(0) invert(1);
}

.form-control.transparant{
    background: rgba(255, 255, 255, 0.5);
}
.form-control.transparant::placeholder{
    color:#ffffff;
}

#mainNav img{
    width: 160px;
    transition: 0.2s;
}
#mainNav.navbar-default img{
    width: 130px;
    transition: 0.2s;
}



@media screen and (min-width:992px){
    .navbar li a{
        font-size:13pt;
        /* padding-top: 35px; */
        padding-bottom: 25px;
    }
    .navbar button{
        margin-top: 5px;
        margin-bottom: 0px;
    }
       
}
.size13{
    font-size: 13pt;
    text-align: justify;
}


@media screen and (min-width:992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1.5em;
    }
    .size-16{
        font-size: 16pt;
      }
      .size-14{
        font-size: 13.5pt;
        margin-bottom: 30px;
      }
      .line-height-40{
          line-height: 40px;
      }
}

@media (min-width: 768px) {
    .navbar-left {
      float: left !important;
    }
    .navbar-right {
      float: right !important;
      margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
      margin-right: 0;
    }
  }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7756b1 ; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #696fd5 ; 
}

.text-white{
    color:#fff;
}


.wizard {
    margin: 20px auto;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
    }
    .wizard .nav-tabs a{
        color: #222222;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #dddddd;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 3px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #222222;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}
.wizard .nav-tab{
    border-bottom: none !important;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

/* .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
} */

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    /* padding-top: 50px; */
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}




/* LOGIN */
.login-container select , .login-container input[type="text"], .login-container input[type="email"], .login-container input[type="password"]{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #7756b1;
    border-radius: 0;
    width: 80%;
    margin:0px auto;
    color:#7756b1;
}
.login-container input:focus{
    box-shadow: transparent !important;
    border: none !important;
}
.login-container input::placeholder{
    color:#7756b1;
}
.btn-purple{
    background: #7756b1;
    color: #ffffff;
    width: 200px;
    box-shadow : 0 3px 3px 0 rgba(0,0,0,0.3);
}
.btn-purple2{
    background: #7756b1;
    color: #ffffff;
    transition: .4s;
}
.btn-purple2:hover{
    color: #7756b1;
    background: #ffffff;
    transition: .4s;
    font-weight: none !important;
    border: 1px solid #7756b1;
}
.btn-login2{
    background: #5cb85c;
    color: #ffffff;
    width: 140px;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.3);
}
.btn-red{
    background: #dc4e41;
    color: #ffffff;
    width: 200px;
    box-shadow : 0 3px 3px 0 rgba(0,0,0,0.3);
}
.btn-login2:hover, .btn-purple:hover,.btn-red:hover{
    transition: .3s;
    color: #ffffff;
    box-shadow : 0 4px 4px 0 rgba(0,0,0,0.3);
}

.text-black{
    color:#222222 !important;
}

.vcenter {
    display: flex;
    align-items: center
  }

  .floatright{
    display: inline-block;
    float: right !important;
  }
  .loader{
    background: #ffffff;
    width:100%;
    height:100%;
    display: flex;
    position: fixed;
    left:0;
    top:0;
    z-index: 9999999;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width:900px){
    .loader img{
        width: 200px;
    }
    .row.responsive{
        display: block;
    }
    .row.non-responsive{
        display: none;
    }
    
    
    
    #reason .row{
        margin-bottom: 20px !important;
    }
    .break{
        margin-bottom: 50px;
    }
   
    section.email .text-left, section.email .text-right{
        text-align: center !important;
    }
    .navbar-right {
        float: left !important;
        margin-left: 3px;
    }
    .navbar-right.text-right{
        text-align: left !important;
        /* margin-left:10px; */
    }
}
@media screen and (max-width:767px){
    #mainNav.navbar-default img{
        width: 60px;
    }
    .row.vcenter{
        display: inline-block;
    }
    .effect:before{
        content: '';
        width: 100%;
        /* height: auto; */
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background-image: url('../img/transparant.png');
    }
    .effect:after{
        content: '';
        width: 100%;
        height:200px;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
        background-image: url('../img/transparant.png');
    }    
    
}
@media screen and (max-width:600px){
    #mainNav img{
        width: 60px;
    }
    .row .vcenter{
        display: inline-block;
    }   
    .size-16{
        font-size: 1.1em;
    }
    .size-14{
        font-size: 1em;
    }
    .login-container .row .vcenter{
        display: inline-block;
    }
    .login .non-responsive{
        display: none !important;
    }
}


/* LOGIN */
.v-center {
    display: flex;
    align-items: center
  }
  .how-it-work{
    width:100%; 
    height: 750px;
    display: block;
    background-size: 100%;
    background-image : url('../img/works.png');
    background-repeat: no-repeat;
  }
  @media screen and (max-width:1024px){
    .how-it-work{
        height: 500px;  
    }
  }
  @media screen and (max-width:768px){
    .how-it-work{
        height: 400px;  
    }
    header.height100, .height100{
        height: 540px;
        background-size: cover;
        position: relative;
        min-height:540px;
    }
    
  }
  @media screen and (max-width:400px){
    .how-it-work{
        background-image : url('../img/vertical.png');
        height: 1600px;
    }
  }
  @media screen and (max-width:380px){
    .how-it-work{
        background-image : url('../img/vertical.png');
        height: 1380px;
    }
  }
  @media screen and (max-width:350px){
    .how-it-work{
        background-image : url('../img/vertical.png');
        height: 1350px;
    }
  }
  @media screen and (max-width:340px){
    .how-it-work{
        background-image : url('../img/vertical.png');
        height: 1250px;
    }
  }
  @media screen and (max-width:320px){
    .how-it-work{
        background-image : url('../img/vertical.png');
        height: 1150px;
    }
  }
  
  @media screen and (max-width:768px){
 
    .text-right, .text-left{
        text-align: center !important;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    img.phone{
        width: 200px;
    }
    .btn-lg{
        font-size: 14px;
    }
    h3{
        font-size: 20px;
    }
    .none{
        display: none !important;
    }
    
}

  @media screen and (max-width:360px){
      img.img-login{
          width: 120px;
      }
      body.login h3{
        font-size: 1.25em;
      }
     
    

  }



  /* SETUP */
  #setup .left{
      float: left;
      display: inline-block;
  }
  #setup .right{
    float:right;
    display: inline-block;

  }

  #setup .left img{
      width: 100px;
  }
  #setup nav{
      overflow: hidden;
      padding: 20px 0;
      border-bottom: 1px solid #dddddd;
  }
  #setup img.demo{
      border: 1px solid #dddddd;
  }
  .underline{
      text-decoration: underline;
  }

  @media screen and (max-width:500px){
    .break80{
        display: block;
        margin-bottom: 20px;
    }
    #setup .left,#setup .right{
      float:none;
      display: block;
      text-align: center;
    }
    #setup .right{
        margin-top: 20px;
    }
    
    
  }
  
  .footer{
      margin-top: 20px;
      border-top:1px solid #dddddd;
      padding: 10px 0;
  }

  #register .input-group{
      margin-bottom: 10px;
  }

  

  .bg-grey{
    background: #f6f6f6;
    padding: 5px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  .bg-grey ul li:first-child{
      list-style-type: none;
  }