@charset "utf-8";
/* CSS Document */


.strength_meter div {
	height: 23px;
	width: 100%;
	height: 23px;
	text-align: center;
	margin-top: 5px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	line-height: 23px;
}

.veryweak {
	background-color: #FFA0A0;
	border-color: #F04040 !important
}

.weak {
	background-color: #FFB78C;
	border-color: #FF853C !important;
}

.medium {
	background-color: #FFEC8B;
	border-color: #FC0 !important;
}

.strong {
	background-color: #28a745;
	border-color: #8DFF1C !important;
}

.button_strength {
	display: none;
}